<form action="<%= login_url %>" method="post">
  <label for="name">Username:</label>
  <input type="text" name="name" id="name">

  <label for="password">Password:</label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Log In">

</form>