<form action="<%= new_team_project_url(@team) %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="form_authenticity_token">

  <label for="project_title">Title:</label>
  <input type="text" name="project[title]" id="project_title">

  <label for="project_description">Description:</label>
  <input type="text" name="project[description]" id="project_description">

  <input type="hidden" name="project[completion]" value="false">

  <input type="submit" value="Submit Project">

  <h3>Items</h3>
  <% @project.items.each_with_index do |item, i| %>

  <label for="item_title">Title:</label>
  <input type="text"
         name="project[items_attributes][<%= i %>][title]"
         id="item_title">

  <label for="item_description">Description:</label>
  <input type="text"
         name="project[items_attributes][<%= i %>][description]"
         id="item_description">

  <input type="hidden"
         name="project[items_attributes][<%= i %>][completion]"
         value="false">
  <% end %>

  <input type="submit" value="Submit Item">

</form>