<li>
<%= link_to item.title,
    team_project_item_url(@team, @project, item) %>
-- <%= item.completion ? "Done" :  "To Do" %>
<% if item.completion %>
<%= button_to "Uncheck",
              team_project_item_check_url(@team, @project, item) %>
<% else %>
<%= button_to "Check",
              team_project_item_check_url(@team, @project, item) %>
<% end %>
</li>